

nav {
    background-color: blue;
    color: azure;
}

input {
    width: 100%;
    margin: 2px;
}

.btn {
    margin: 2px;
}

ul {
    margin: 0;
    padding: 0;
}
#search-history {
    border-top: 5px solid grey;
    margin-top: 10px;
}

#current-weather {
    list-style-type: none;
    line-height: 2;
}
#today-city {
    margin: 0;
}

#city-button {
    width: 100%;
    background-color: aquamarine;
    border-radius: 8px ;
    display: block;
    margin: 10px 2px 10px 2px;
    text-transform: capitalize;
}

.daily-weather{
    border: 2px solid black;
}
#span-today-uvi {
    padding: 2px 14px 2px 14px;
    border-radius: 8px;

}
.green {
    background-color: #64EDA1;
    border-radius: 8px;
}

.yellow {
    background-color: yellow;
    border-radius: 8px;

}

.orange {
    background-color: orange;
    border-radius: 8px;

}

.red {
    background-color: red;
    border-radius: 8px;

}

.forecast {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.forecast-card {
    margin: 5px 6px 5px 5px; 
    border: 2px solid lightblue;
    padding:5px 5px 5px 20px;
    width:18%;
    border-radius: 8px;
    box-shadow: inset 2px;
    }
.col-12 {
    padding: 0;
}